@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background-color: theme('colors.bg-base');
  color: theme('colors.text-main');
}
